body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

td {
    padding: 5px;
}

tr {
   background-color: #efefef;
}


tr:nth-child(even) {
    background-color: #dfdfdf;
}

th {
    padding: 5px;
    background-color: #333;
    color: white;
}