<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('head') %>
<script src="/javascripts/enheter.js"></script>
</head>
<body>

  <%- include('menu') %>
  
  <main class="main">
    
  <h2><%= title %></h2>
  
  <div id="div1"></div>
  <div id="div2"></div>  
  
</main>   
</body>

</html>